<section class="bg-white dark:bg-gray-900">
    <div class="container px-6 py-12 mx-auto">
        <h1 class="text-2xl font-semibold text-gray-800 lg:text-3xl dark:text-white">Preguntas frecuentes</h1>

        <div class="grid grid-cols-1 gap-8 mt-8 lg:mt-16 md:grid-cols-2 xl:grid-cols-3">
            <div>
                <div class="inline-block p-3 text-white bg-[#05a7a7] rounded-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold text-gray-700 dark:text-white">¿Qué servicios ofrece Vial Solutions?</h1>

                    <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">
                        Vial Solutions ofrece una variedad de servicios, incluyendo asistencia en ruta las 24 horas, mantenimiento preventivo para prolongar la vida útil de su vehículo, y diagnóstico rápido utilizando tecnología de punta para identificar y solucionar problemas de manera eficiente.
                    </p>
                </div>
            </div>

            <div>
                <div class="inline-block p-3 text-white bg-[#05a7a7] rounded-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold text-gray-700 dark:text-white">¿Cómo puedo usar la aplicación de Vial Solutions?</h1>

                    <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">
                        Para usar la aplicación, primero descárguela desde su tienda de aplicaciones, cree una cuenta, y luego podrá reportar problemas tomando una foto y describiendo la situación. Asegúrese de permitir el acceso a su ubicación para una asistencia más rápida.
                    </p>
                </div>
            </div>

            <div>
                <div class="inline-block p-3 text-white bg-[#05a7a7] rounded-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold text-gray-700 dark:text-white">¿Dónde puedo descargar la aplicación de Vial Solutions?</h1>

                    <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">
                        La aplicación de Vial Solutions está disponible para su descarga en la App Store para dispositivos iOS, en Google Play para dispositivos Android, y en AppGallery para dispositivos Huawei.
                    </p>
                </div>
            </div>

            <div>
                <div class="inline-block p-3 text-white bg-[#05a7a7] rounded-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold text-gray-700 dark:text-white">¿Cómo puedo contactar con Vial Solutions?</h1>

                    <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">
                        Puede contactar con Vial Solutions a través del número de teléfono +1 526 654 8965 o mediante el correo electrónico ejemplo@email.com. Nuestro servicio de asistencia en ruta está disponible las 24 horas del día.
                    </p>
                </div>
            </div>

            <div>
                <div class="inline-block p-3 text-white bg-[#05a7a7] rounded-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold text-gray-700 dark:text-white">¿Qué tipo de mantenimiento preventivo ofrece Vial Solutions?</h1>

                    <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">
                        Vial Solutions realiza mantenimientos preventivos completos para mantener su vehículo en óptimas condiciones. Esto incluye revisiones regulares y servicios que ayudan a prolongar la vida útil de su vehículo y prevenir costosas reparaciones futuras.
                    </p>
                </div>
            </div>

            <div>
                <div class="inline-block p-3 text-white bg-[#05a7a7] rounded-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold text-gray-700 dark:text-white">¿Cómo funciona el servicio de asistencia en ruta?</h1>

                    <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">
                        Nuestro servicio de asistencia en ruta está disponible las 24 horas. En caso de emergencia, puede usar nuestra aplicación para reportar el problema y su ubicación. Nuestro equipo de expertos será enviado rápidamente para ayudarle y garantizar su seguridad y tranquilidad.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>