<section class="bg-white dark:bg-gray-900">
    <div class="container px-6 py-10 mx-auto">
        <h1 class="text-2xl font-semibold text-gray-800 capitalize lg:text-3xl dark:text-white">explore nuestros <br> increíbles <span class="underline decoration-[#05A7A7]">Servicios</span></h1>

        <p class="text-gray-500 dark:text-gray-400 lg:text-base">
            Ofrecemos soluciones integrales para el mantenimiento y cuidado de su vehículo
        </p>

        <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-16 md:grid-cols-2 xl:grid-cols-3">
            <div class="space-y-3">
                <span class="inline-block p-3 text-[#05A7A7] bg-[#05A7A7] bg-opacity-10 rounded-full dark:text-white dark:bg-[#05A7A7]">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
                    </svg>
                </span>

                <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">Asistencia en Ruta</h1>

                <p class="text-gray-500 dark:text-gray-400 lg:text-base">
                    Nuestro servicio de asistencia en ruta está disponible las 24 horas para ayudarle en caso de emergencias mecánicas, garantizando su seguridad y tranquilidad en todo momento.
                </p>
            </div>

            <div class="space-y-3">
                <span class="inline-block p-3 text-[#05A7A7] bg-[#05A7A7] bg-opacity-10 rounded-full dark:text-white dark:bg-[#05A7A7]">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
                    </svg>
                </span>

                <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">Mantenimiento Preventivo</h1>

                <p class="text-gray-500 dark:text-gray-400 lg:text-base">
                    Realizamos mantenimientos preventivos completos para mantener su vehículo en óptimas condiciones, prolongar su vida útil y prevenir costosas reparaciones futuras.
                </p>
            </div>

            <div class="space-y-3">
                <span class="inline-block p-3 text-[#05A7A7] bg-[#05A7A7] bg-opacity-10 rounded-full dark:text-white dark:bg-[#05A7A7]">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
                    </svg>
                </span>

                <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">Diagnóstico Rápido</h1>

                <p class="text-gray-500 dark:text-gray-400 lg:text-base">
                    Nuestro equipo de expertos realiza diagnósticos precisos y rápidos utilizando tecnología de punta para identificar y solucionar problemas en su vehículo de manera eficiente.
                </p>
            </div>
        </div>
    </div>
</section>