<header class="bg-white dark:bg-gray-900">
    <div class="lg:flex">
        <div class="flex items-center justify-center w-full px-6 py-8 lg:h-[32rem] lg:w-1/2">
            <div class="max-w-xl">
                <h2 class="text-3xl font-semibold text-gray-800 dark:text-white lg:text-4xl">
                    Vial Solutions tu mejor <span class="text-[#05a7a7]">solución</span>
                </h2>

                <p class="mt-4 text-sm text-gray-500 dark:text-gray-400 lg:text-base">
                    Vial Solutions es tu asistente vial personal, brindándote ayuda rápida y confiable en carretera. Desde asistencia técnica hasta gestión de emergencias, estamos aquí para asegurarnos de que tu viaje sea seguro y sin contratiempos.
                </p>

                <div class="flex flex-col mt-6 space-y-3 lg:space-y-0 lg:flex-row">
                    <a href="#" class="text-base font-bold px-4 py-2 rounded border-2 border-[#05A7A7] text-white bg-[#05A7A7] hover:bg-white hover:text-black hover:border-[#05A7A7] dark:text-gray-800 dark:bg-[#05A7A7] dark:border-[#05A7A7] dark:hover:bg-gray-800 dark:hover:text-white transition-colors duration-300">Descargar</a>
                    <a href="#" class="text-base font-bold px-4 py-2 rounded border-2 border-gray-300 text-gray-700 bg-gray-200 hover:bg-gray-300 hover:text-black hover:border-gray-400 dark:text-gray-300 dark:bg-gray-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white lg:mx-4 transition-colors duration-300">Saber Más</a>
                </div>
            </div>
        </div>

        <div class="w-full h-64 lg:w-1/2 lg:h-auto">
            <div class="w-full h-full bg-cover" style="background-image: url(/Vial-iPhone.jpg)">
                <div class="w-full h-full bg-black opacity-25"></div>
            </div>
        </div>
    </div>
</header>