<nav class="bg-white top-0 left-0 w-full z-50">
    <div class="container mx-auto px-6 py-3 flex justify-between items-center">
        <div class="flex items-center">
            <a href="#" class="text-base font-bold text-gray-800 flex items-center">
                <img src="/vial_icono.ico" alt="Logo de Vial Solutions" class="h-12 mr-2" />
                <span class="text-[#05A7A7] font-bold text-base">Vial Solutions</span>
            </a>
        </div>
        <div class="block lg:hidden">
            <button id="menu-toggle" class="text-gray-800 focus:outline-none">
                <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3 5h14a1 1 0 010 2H3a1 1 0 010-2zm0 4h14a1 1 0 010 2H3a1 1 0 010-2zm0 4h14a1 1 0 010 2H3a1 1 0 010-2z" clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>
        <div id="menu" class="hidden lg:flex items-center space-x-10 font-bold">
            <a href="#" class="text-base font-bold hover:text-[#05A7A7] transition-colors duration-300">Acerca de</a>
            <a href="#" class="text-base font-bold hover:text-[#05A7A7] transition-colors duration-300">Contactos</a>
            <a href="#" class="text-base font-bold px-4 py-2 rounded border-2 border-[#05A7A7] text-white bg-[#05A7A7] hover:bg-white hover:text-black hover:border-[#05A7A7] transition-colors duration-300">Descargar</a>
        </div>
    </div>
    <div id="mobile-menu-container" class="lg:hidden fixed top-0 left-0 w-full h-full bg-white hidden z-50">
        <div class="container mx-auto px-6 py-3 flex justify-between items-center">
            <a href="#" class="text-base font-bold text-gray-800 flex items-center">
                <img src="/vial_icono.ico" alt="Logo" class="h-12 mr-2" />
                <span class="text-[#05A7A7] font-bold text-base">Vial Solutions</span>
            </a>
            <button id="menu-close" class="text-gray-800 focus:outline-none">
                <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 011.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>
        <div id="mobile-menu" class="flex flex-col justify-center items-center space-y-6 text-center text-base font-bold mt-4">
            <a href="#" class="block px-4 py-4 text-gray-800 text-base font-bold hover:text-[#05A7A7]">Acerca de</a>
            <a href="#" class="block px-4 py-4 text-gray-800 text-base font-bold hover:text-[#05A7A7]">Contactos</a>
            <a href="#" class="px-4 py-2 rounded border-2 border-[#05A7A7] text-white text-base font-bold bg-[#05A7A7] hover:bg-white hover:text-black hover:border-[#05A7A7] transition-colors duration-300">Descargar</a>
        </div>
    </div>
</nav>

<script>
    document.getElementById("menu-toggle").addEventListener("click", function () {
        document.getElementById("mobile-menu-container").classList.toggle("hidden");
    });

    document.getElementById("menu-close").addEventListener("click", function () {
        document.getElementById("mobile-menu-container").classList.add("hidden");
    });
</script>