<style>
    .text-gradient {
      background: linear-gradient(90deg, #05A7A7, #5AED9A, #05A7A7);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
</style>

<div class="flex flex-col md:flex-row items-center justify-center min-h-screen p-10">
    <div class="text-center md:text-left md:w-1/2 md:pl-16 md:pr-0">
        <h1 class="text-6xl lg:text-8xl font-extrabold" data-astro-cid-bbe6dxrz="">
            <span class="text-gradient font-extrabold">Vial Solutions</span><br/>
            <span class="font-extrabold">tu mejor</span><br/>
            <span class="font-extrabold">solución</span>
        </h1>
        <div class="flex flex-col sm:flex-row mt-8 space-y-4 sm:space-y-0 sm:space-x-4">
            <button class="flex items-center justify-center w-full sm:w-48 px-6 py-3 rounded-lg font-bold border-2 border-[#05A7A7] text-[#05A7A7] bg-white hover:bg-[#05A7A7] hover:text-white transition-colors duration-300">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
                </svg>
                Información
            </button>
            <button class="flex items-center justify-center w-full sm:w-48 px-6 py-3 rounded-lg font-bold border-2 border-[#05A7A7] text-white bg-[#05A7A7] hover:bg-white hover:text-[#05A7A7] transition-colors duration-300">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
                Descargar
            </button>
        </div>
    </div>
    <img src="/Vial1.png" alt="Imagen de Inicio de Vial-Solution" class="w-full md:w-1/2 lg:w-1/2 mt-8 md:mt-0 md:-ml-16" />
</div>