<div class="mt-[50px] sm:mt-[75px] flex flex-col items-center p-4 sm:p-8 md:p-12 space-y-6 sm:space-y-8 md:space-y-12 bg-gradient-to-t from-[#5AED9A] to-[#05A7A7] text-white min-h-screen">
  <img src="/Viaje.svg" alt="Vial App Logo" class="w-48 sm:w-56 md:w-72 h-auto mb-4 sm:mb-6 md:mb-8"/> 
  <h1 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold text-center px-2 sm:px-4">Necesitas saber más sobre Vial:</h1>
  <p class="text-base sm:text-lg md:text-xl lg:text-2xl font-medium text-center max-w-xs sm:max-w-sm md:max-w-lg lg:max-w-2xl px-2 sm:px-2">
    Vial es tu asistente vehicular personal en tu bolsillo. Nuestra aplicación móvil te ofrece asistencia en carretera 24/7, diagnósticos de vehículos en tiempo real, y consejos de mantenimiento personalizados. Con Vial, nunca estarás solo en la carretera.
  </p>
  <div class="bg-white rounded-lg mt-4 sm:mt-6 md:mt-8">
    <img src="/qr-prueba.png" alt="QR Code para descargar Vial" class="w-48 h-48 sm:w-64 sm:h-64 md:w-80 md:h-80"/>
  </div>
</div>